@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@keyframes fondoElipseInfDer {
    0%, 100% {
        clip-path: ellipse(50% 50% at 100% 100%);
    }
    50% {
        clip-path: ellipse(80% 80% at 100% 100%);
    }
}

body {
    background-color: #48CFAE;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #358B7E;
    z-index: -1;
    animation: fondoElipseInfDer 3s ease-in-out infinite;
}

/*menu*/
nav {
    justify-content: space-between;
    background-color: rgba(102, 174, 160, 0.5); /* Fondo negro semitransparente */
    padding: 10px; /* Espaciado interior del menú */
    position: fixed; /* Fijar el menú en la parte superior */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Capa z-index para asegurar que esté encima de otros elementos */
    display: flex; /* Usar flexbox para el contenedor del menú */
    align-items: center;
    border-radius: 30px;
    transition: top 0.3s; /* Transición suave para el movimiento del menú */
    top: 0; /* Posición inicial en la parte superior */
}

nav .left img {
    height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    width: auto; /* Mantener las proporciones de la imagen */
}

nav.hidden {
    top: -80px; /* Altura del menú para ocultarlo fuera de la vista */
}

nav .left, nav .right {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
}

nav ul.left li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
}

nav ul.right li {
    margin-left: 20px;
    font-size: 20px;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.menu a {
    position: relative;
    color: #333; /* Color del texto enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-size: 18px; /* Tamaño de fuente */
    margin-right: 20px; /* Espacio entre elementos del menú */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
}

.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffffff;
    transition: width 0.3s ease, right 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
    right: 0;
}

.menu a:hover {
    color: #ffffff; /* Color del texto al pasar el mouse */
}

/* Estilos específicos para el enlace con la clase left */
.menu .left {
    position: relative;
    font-size: 24px; /* Tamaño de fuente para el nombre */
    margin-left: 20px; /* Espacio a la izquierda del nombre */
}

.menu .left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    bottom: -5px; /* Mueve la línea debajo del nombre */
    background: #ffffff;
    transition: width 0.3s ease;
}

.menu .left:hover::after {
    width: 100%;
}

.menu .left:hover {
    color: #ffffff; /* Color del texto al pasar el mouse sobre el nombre */
}

/* Estilo para el section */
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; /* Ajusta el espacio arriba y abajo */
    margin-top: 80px; /* Mueve el section más hacia abajo */
    background: none; /* Elimina el fondo */
    text-align: center; /* Centra el texto */
}

/* Estilo para el título */
.titulo {
    text-align: center;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    background: linear-gradient(to top, #333 0%, #25544D 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    animation: fadeInUp 1s ease-out;
}

/* Estilo para el texto */
#presentation .content-text .text {
    font-family: "Graduate", serif;
    font-weight: 800;
    font-size: 35px;
    color: #25544D; /* O el color que prefieras */
    max-width: 800px; /* Opcional, ajusta el tamaño del texto */
    line-height: 1.5;
    animation: fadeInUp 1s ease-out;
}

/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de salida */
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Estilo base para ocultar los elementos */
.hidden {
    opacity: 0;
    animation: fadeOutDown 1s ease-out forwards;
    transform: translateY(20px);
}

/* Cuando la sección es visible, los elementos se muestran con animación de entrada */
.visible {
    animation: fadeInUp 1s ease-out forwards;
}

/* Estilo para la salida (cuando la sección deja de estar visible) */
.hide {
    animation: fadeOutDown 1s ease-in forwards;
}

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 1% 1%;
    }

    .cart {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 500px;
        padding: 30px 25px;
        background: #fff;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        border-radius: 45px;
        transition: transform 0.3s ease-in-out;
    }

    .cart.wide {
        grid-column: span 1;
        width: 100%;
    }

    .cart.large {
        grid-column: span 2;
        height: 600px;
    }

    .cart:hover {
        transform: translateY(-20px);
    }

    .cart img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40px;
    }

    .cart .info {
        position: relative;
        z-index: 3;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.5s;
    }

    .cart:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }

.subtitu {
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.10rem;
    background: linear-gradient(60deg, #25544D, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

/* Estilo del texto */
.texto {
    letter-spacing: 1px;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
    margin: 10px 0 25px;
    line-height: 130%;
    color: rgba(255, 255, 255, 1);
    text-align: left; /* Texto justificado */
}

/* Estilo de los botones */
.btn1 {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #25544D;
    color: #f0f0f0;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.30rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn1:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(43, 131, 109);
    color: #000;
}

.btn2 {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #48CFAE;
    color: #25544D;
    font-family: "Graduate", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.30rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn2:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(43, 131, 109);
    color: #000;
}

@media (max-width: 500px) { /* Oculta en dispositivos más pequeños */
    body {
        display: none;
    }
}